import /vendor/etc/init/hw/init.vendor.st21nfc.rc

on early-init
   write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor walt
   write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor walt
   write /sys/devices/system/cpu/cpu7/cpufreq/scaling_governor walt
   exec u:r:vendor_modprobe:s0 -- /vendor/bin/modprobe -r -d /vendor/lib/modules zram

on fs
   insmod /vendor/lib/modules/rbs_fod_mmi.ko
   insmod /vendor/lib/modules/msm_drm.ko
   insmod /vendor/lib/modules/mmi_annotate.ko
   insmod /vendor/lib/modules/mmi_info.ko
   insmod /vendor/lib/modules/mmi_relay.ko
   insmod /vendor/lib/modules/sensors_class.ko
   insmod /vendor/lib/modules/touchscreen_mmi.ko
   insmod /vendor/lib/modules/goodix_brl_mmi.ko
   insmod /vendor/lib/modules/sx937x_sar.ko
   insmod /vendor/lib/modules/qti_glink_charger.ko
   insmod /vendor/lib/modules/qpnp_adaptive_charge.ko
   #zram wb
   mount_all /vendor/etc/fstab.qcom.zram --early

on late-init
    exec u:r:vendor_modprobe:s0 -- /vendor/bin/modprobe -a -d /vendor/lib/modules moto_mm moto_swap

on early-boot
    # factory i2c
    chmod 0660 /dev/i2c-0
    chmod 0660 /dev/i2c-1
    chmod 0660 /dev/i2c-2
    chmod 0660 /dev/i2c-3
    chmod 0660 /dev/i2c-4
    chown system system /dev/i2c-0
    chown system system /dev/i2c-1
    chown system system /dev/i2c-2
    chown system system /dev/i2c-3
    chown system system /dev/i2c-4
    # for ufs HID
    chown system system /sys/devices/platform/soc/1d84000.ufshc/ufshid/trigger

# Create directory for wireless charge test in factory
    mkdir /data/vendor/wlc 0775 vendor_tcmd system

# Change force_charging_enable access mode and permission for tcmd
    chmod 0664 /sys/class/power_supply/battery/device/force_charging_enable
    chown vendor_tcmd system /sys/class/power_supply/battery/device/force_charging_enable

on post-fs-data
    # Param updater data for various modules
    mkdir /data/vendor/param 0775 system system
    # prepare folders for Egis FoD fingerprint sensor
    mkdir /data/vendor/egis 0770 system system
    mkdir /mnt/vendor/persist/egis 0770 system system
    mkdir /data/vendor/tzstorage/egis 0770 system system
    mkdir /data/vendor/egis/cqa  0770 system system

    # Add for fod fps calibration
    chown system system /sys/class/backlight/panel0-backlight/brightness
    chown system system /sys/class/drm/card0-DSI-1/panelName
    chown system system /sys/class/drm/card0-DSI-1/panelId
    chown system system /d/dri/0/debug/motUtil
    chmod 0666 /d/dri/0/debug/motUtil;
    chmod 0666 /sys/class/backlight/panel0-backlight/brightness
    chmod 0666 /sys/class/drm/card0-DSI-1/panelName
    chmod 0666 /sys/class/drm/card0-DSI-1/panelId

on early-boot
    # Add for egis fingerprint
    chown system system /dev/esfp0
    chmod 0664 /dev/esfp0

on boot
    # allow TCMD to access cci for OIS test
    chmod 0660 /dev/cci_intf
    chown system camera /dev/cci_intf

    start vendor.touchRec
    # touch screen calibration file
    mkdir /mnt/vendor/persist/touch
    chown vendor_tcmd system /mnt/vendor/persist/touch
    chmod 0775 /mnt/vendor/persist/touch
    # Touch game mode control
    chown system system /sys/class/touchscreen/primary/rotate
    chmod 0660 /sys/class/touchscreen/primary/rotate
    chown system system /sys/class/touchscreen/primary/interpolation
    chmod 0660 /sys/class/touchscreen/primary/interpolation
    chown system system /sys/class/touchscreen/primary/edge
    chmod 0660 /sys/class/touchscreen/primary/edge
    chown system system /sys/class/touchscreen/primary/sensitivity
    chmod 0660 /sys/class/touchscreen/primary/sensitivity
    chown system system /sys/class/touchscreen/primary/gesture
    chmod 0660 /sys/class/touchscreen/primary/gesture

    write /dev/cpuset/boost-app/cpus 4-6
    setprop debug.sf.boost_sf_on_touch true

   # Set adaptive charging perms for HAL
    chown system system /sys/module/qpnp_adaptive_charge/parameters/upper_limit
    chown system system /sys/module/qpnp_adaptive_charge/parameters/lower_limit

    chown system system /sys/class/power_supply/wireless/device/tx_mode
    chown system system /sys/class/power_supply/wireless/device/wls_input_current_limit
    chown vendor_tcmd system /sys/class/power_supply/wireless/device/tx_mode_vout
    chmod 0660 /sys/class/power_supply/wireless/device/tx_mode
    chmod 0660 /sys/class/power_supply/wireless/device/wls_input_current_limit

    #change vibrator test node file access permission
    chmod 0660 /sys/class/qcom-haptics/enable_play
    chown vendor_tcmd system /sys/class/qcom-haptics/enable_play
    write /sys/class/qcom-battery/wireless_fw_update_time_ms 5000
    write /sys/class/qcom-battery/wireless_fw_update 1

    # Set wlc perms for HAL
    chown system system /sys/class/power_supply/wireless/device/wlc_light_ctl
    chown system system /sys/class/power_supply/wireless/device/wlc_fan_speed
    chown system system /sys/class/power_supply/wireless/device/wlc_st_changed
    chown system system /sys/class/power_supply/wireless/device/wlc_tx_power
    chown system system /sys/class/power_supply/wireless/device/wlc_tx_type
    chmod 0660 /sys/class/power_supply/wireless/device/wlc_light_ctl
    chmod 0660 /sys/class/power_supply/wireless/device/wlc_fan_speed

   # vibrator hal need to access this sysfs node for AF noise issue
   chown cameraserver cameraserver /sys/devices/platform/soc/soc:mot,cam-actuator/onekey_actuator
   chmod 0660 /sys/devices/platform/soc/soc:mot,cam-actuator/onekey_actuator

service capsense_reset /system/vendor/bin/capsense_reset
   class core
   user system
   group system input
   disabled

on property:sys.boot_completed=1
    start capsense_reset
    #change adsp pmic test command file access permission
    chown vendor_tcmd system /sys/devices/platform/soc/soc:qcom,pmic_glink/soc:qcom,pmic_glink:mmi,qti-glink-charger/tcmd
    chown vendor_tcmd system /sys/devices/platform/soc/soc:qcom,pmic_glink/soc:qcom,pmic_glink:mmi,qti-glink-charger/force_pmic_icl
    chown vendor_tcmd system /sys/devices/platform/soc/soc:qcom,pmic_glink/soc:qcom,pmic_glink:mmi,qti-glink-charger/addr
    chown vendor_tcmd system /sys/devices/platform/soc/soc:qcom,pmic_glink/soc:qcom,pmic_glink:mmi,qti-glink-charger/data
    chmod 0660 /sys/devices/platform/soc/soc:qcom,pmic_glink/soc:qcom,pmic_glink:mmi,qti-glink-charger/tcmd
    chmod 0660 /sys/devices/platform/soc/soc:qcom,pmic_glink/soc:qcom,pmic_glink:mmi,qti-glink-charger/force_pmic_icl
    chmod 0660 /sys/devices/platform/soc/soc:qcom,pmic_glink/soc:qcom,pmic_glink:mmi,qti-glink-charger/addr
    chmod 0660 /sys/devices/platform/soc/soc:qcom,pmic_glink/soc:qcom,pmic_glink:mmi,qti-glink-charger/data

#change for Rogue because the node changed
on property:vendor.wifi.tethering=false
    write /sys/module/qca6490/parameters/sar_mhs disabled

on property:vendor.wifi.tethering=true
    write /sys/module/qca6490/parameters/sar_mhs enabled

on property:vendor.wifi.station=true
    write /sys/module/qca6490/parameters/sar_sta enabled

on property:vendor.wifi.station=false
    write /sys/module/qca6490/parameters/sar_sta disabled

on property:dev.bootcomplete=1
    stop llkd-${ro.debuggable:-0}

on property:vendor.post_boot.parsed=1
    write /sys/devices/system/cpu/cpu4/core_ctl/enable 0
    write /sys/devices/system/cpu/cpu7/core_ctl/enable 0

on property:vendor.usb.headset_reset=2
    write /sys/bus/platform/devices/${ro.boot.usb.dwc3_msm:-a600000.ssusb}/mode none

on property:vendor.usb.headset_reset=0
    wait /sys/bus/platform/devices/${ro.boot.usb.dwc3_msm:-a600000.ssusb}/headset_reset_delay 2
    write /sys/bus/platform/devices/${ro.boot.usb.dwc3_msm:-a600000.ssusb}/mode host

on property:ro.boot.carrier=amxbr
    setprop ro.vendor.radio.imei.sv 29

on property:ro.boot.carrier=retbr
    setprop ro.vendor.radio.imei.sv 29

on property:ro.boot.carrier=tefbr
    setprop ro.vendor.radio.imei.sv 29

on property:ro.boot.carrier=timbr
    setprop ro.vendor.radio.imei.sv 29
